flows.json
[{"id":"a76c66b1.f06bf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce66addc.8cf2b","type":"ui_form","z":"a76c66b1.f06bf8","name":"","label":"","group":"dd20aca.628e25","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["5b05debe.dd15e","60509da1.191bb4"]]},{"id":"5b05debe.dd15e","type":"debug","z":"a76c66b1.f06bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":320,"wires":[]},{"id":"60509da1.191bb4","type":"function","z":"a76c66b1.f06bf8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":420,"wires":[["efc099d9.a6a5b8"]]},{"id":"efc099d9.a6a5b8","type":"cloudant out","z":"a76c66b1.f06bf8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-fvczf-2020--cloudant-1597425720699-91741","payonly":true,"operation":"insert","x":440,"y":420,"wires":[]},{"id":"675ea5e3.ba733c","type":"ui_form","z":"a76c66b1.f06bf8","name":"","label":"","group":"99d1bb61.b76308","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":520,"wires":[["b5b8d46.380b428"]]},{"id":"b5b8d46.380b428","type":"function","z":"a76c66b1.f06bf8","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":520,"wires":[["80075d59.f0d33"]]},{"id":"80075d59.f0d33","type":"function","z":"a76c66b1.f06bf8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["51c52f68.773f7"]]},{"id":"51c52f68.773f7","type":"cloudant in","z":"a76c66b1.f06bf8","name":"","cloudant":"","database":"sample","service":"node-red-fvczf-2020--cloudant-1597425720699-91741","search":"_idx_","design":"user","index":"user","x":480,"y":520,"wires":[["eb0ff13f.1f7d1"]]},{"id":"eb0ff13f.1f7d1","type":"function","z":"a76c66b1.f06bf8","name":"","func":"if(msg.payload[0].password === global.get('password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["33b6769d.199fba"]]},{"id":"33b6769d.199fba","type":"ui_text","z":"a76c66b1.f06bf8","group":"99d1bb61.b76308","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":520,"wires":[]},{"id":"3bf639d1.124ad6","type":"ui_form","z":"a76c66b1.f06bf8","name":"","label":"","group":"8640d723.b86358","order":2,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":660,"wires":[["84604023.9db0a"]]},{"id":"84604023.9db0a","type":"function","z":"a76c66b1.f06bf8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":660,"wires":[["dafd6c9e.b9094"]]},{"id":"dafd6c9e.b9094","type":"watson-conversation-v1","z":"a76c66b1.f06bf8","name":"","workspaceid":"61bf3f96-1135-4ab3-b1d2-fa951da31d65","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7a571901-941b-445d-b965-feadb131fd91","timeout":"","optout-learning":false,"x":470,"y":660,"wires":[["b0830102.40ea9","27f61595.2be14a"]]},{"id":"b0830102.40ea9","type":"debug","z":"a76c66b1.f06bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":580,"wires":[]},{"id":"27f61595.2be14a","type":"function","z":"a76c66b1.f06bf8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":660,"wires":[["d4c64fe7.14fed","31cf91e3.a8790e"]]},{"id":"d4c64fe7.14fed","type":"ui_text","z":"a76c66b1.f06bf8","group":"8640d723.b86358","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":660,"wires":[]},{"id":"31cf91e3.a8790e","type":"ui_audio","z":"a76c66b1.f06bf8","name":"","group":"8640d723.b86358","voice":"","always":"","x":840,"y":720,"wires":[]},{"id":"dd20aca.628e25","type":"ui_group","z":"","name":"Reg form","tab":"caf6587c.1e7e08","order":1,"disp":true,"width":"6","collapse":false},{"id":"99d1bb61.b76308","type":"ui_group","z":"","name":"Login Form","tab":"d08a7a44.ded448","order":1,"disp":true,"width":"6","collapse":false},{"id":"8640d723.b86358","type":"ui_group","z":"","name":"Bot","tab":"dfac411d.57c75","order":1,"disp":true,"width":"6","collapse":false},{"id":"caf6587c.1e7e08","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"d08a7a44.ded448","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"dfac411d.57c75","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]